.header {
  align-self: stretch;
  padding: 45px 0 20px;
  box-sizing: border-box;
}


@media screen and (max-width: 976px) {
  .header {
    padding: 45px 30px 20px;
}
}

@media screen and (max-width: 650px) {
  .header {
  padding: 45px 19px 20px;
}
}

@media screen and (max-width:475px) {
  .header {
    padding: 28px 0px 20px;
  }
}
