.profile__edit_close {
  background-image: url(../../../../images/button__edit_close.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
}

@media screen and (max-width:560px) {
.profile__edit_close {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  top: -36px;
  right: 0;
  }
}
